
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap');
 

:root {
    --spacing: 16px;
   
}

body {
padding: 30px;
background-color: black;

}

h2 {
font-family: "Raleway", sans-serif;
font-weight: bold;
font-size: 36px;
text-align: center;
padding-bottom: 50px;
margin-top: 48px;
color: white;

}

label{
    font-family: "Raleway", sans-serif;
    padding-right: 10px;
    display: block;
    margin-bottom: 20px;
    color: white;
}

input {
font-family: "Raleway", sans-serif;
text-align: left;
padding-left: 5px;
width: 180px;
height: 40px;
border: 1px solid #ccc;
background-color: rgb(247, 193, 159);
border-radius: 5px;
display: block;
margin-bottom: 20px;
}

p{
font-family: "Raleway", sans-serif;
}

.todaybox{
border: 1px solid;
border-radius: 6px;
}

.container{
display: flex;
flex-direction: column;
padding-right: 65px;
padding-left: 2px;
margin: 2px;

}

.row{
display: flex;
flex-direction: row;
padding-bottom: 36px;
padding-top: 20px;
margin-top: 50px;
}

.daybox{
border: 1px solid;
border-radius: 6px;
width:75px;
height: 75px;
margin-left: 5px;
text-align: center;
}

.dayrow{
display: flex;
flex-direction: row;
padding-top: 30px;
}

.spacelabel{
    margin-bottom: 15px;
}


.formbox{
    border: 1px solid white;
    border-radius: 6px;
    padding: 20px;
    padding-left: 64px;
}

.buttonalign{
display: flex;
flex-direction: row;
margin-top: 15px;
margin-left: 132px;

}

.buttonalign2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 15px;
    margin-left: 2px;
    
    }


.button{
    border: 1px solid;
    border-radius: 6px;
    padding: 5px;
}

button {
background-color: rgb(223, 149, 103);
display: initial;
margin-right: 10px;
margin-bottom: 20px;
margin-top: 10px;
border: 1px solid;
padding: 16px;
border-radius: 6px;
color: white;
width: 80px;
height: 60px;
text-align: center;
}

#inputsubmission p{
color: white;

    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 14px;
    

}

.city{
    /* color: red !important; */
    font-family: "Arial black", sans-serif !important;
    font-size: 40px !important;
    /* margin-left: -15px !important; */
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 109%;
    margin-left: -34px;
    padding-top: 10px;
    text-align: center;
   
}

.date{
    /* color: red !important; */
    font-family: "Arial black", sans-serif !important;
    font-size: 20px !important;
    width: 109%;
    margin-left: -34px;
    padding-top: 10px;
}

.start{
    /* color: orchid !important; */
    font-family: "Arial black", sans-serif !important;
    font-size: 20px !important;
    border-top: 1px solid white;
    width: 109%;
    margin-left: -34px;
    padding-top: 10px;
}

.end{
    /* color: orchid !important; */
    font-family: "Arial black", sans-serif !important;
    font-size: 20px !important;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 109%;
    margin-left: -34px;
    padding-top: 10px;
}


.inputbox{

        border: 1px solid white;
        border-radius: 40px;
        padding: 20px;
        padding-left: 64px;
        margin-top: 30px;
        width: 302px;
        height: 629px;
        background-image: url('lastblur.jpg');
        background-size: cover;
        /* filter: hue-rotate(80deg); */
        /* filter: sepia(100%); */
        /* filter: hue-rotate(180deg);  */
    }



   
   details{
        border: 1px solid;
        border-radius: 6px;
        margin-left: -38px;
        color: white;

    }

    summary{
   
        text-align: center;
        padding: 75px;
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        font-size: 20px;
        color: white;
    }

   

      details[open] summary {
        border: none;
      }


      details[open] {
        border: none;
      }

      /* .circle{
        width: 178px;
        height: 178px;
        border-radius: 50%;
        background-image: url('camille.jpg');
        background-size: cover;
        background-position: center;

      } */

      .circle{
        width: 178px;
        height: 178px;
        border-radius: 50%;
        background-color: rgb(223, 149, 103);
        margin-bottom: 24px;
        background-image: url('camille.jpg');
        background-size: cover;
        
       
      }

      .some-text{
        color: black;
      }

     @media print{
    body {
        visibility: hidden;
        /* display: none; */
    }  

    #printable, .inputbox {
    display: block;
    }

    #printable {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;

    }

    .inputbox {
        background-image: url('lastblur.jpg');
        background-size: cover; 
        
        
      }

    /* .inputbox:before {
    
    content: url('lastblur.jpg');
    zoom: 25%;
    }  */

   

    /* .inputbox-over-image {
        position: absolute;
        top: 0;
        left: 0;
        /* adjust these values to position the input correctly */
         */

    /* #inputsubmission:before {
    zoom: 25%;
    } */
   
     }

     
     form {
     background-image: url('mirrorflower.JPG');
     background-size: cover;
     background-repeat: no-repeat;
     /* display: none; */
     }

     #landingimage{
       margin-top: 20%; 
       margin-bottom: 15%;
       cursor: pointer;
       animation: bounce 2s infinite;
       animation-delay: 3s;
     }
      @keyframes bounce {
            0% {transform: translateY(0px); }
            50% {transform: translateY(10px); }
            100% {transform: translateY(0px); }
      }
   